@model SisControleVendas.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="text-orange d-inline">Detalhes</h1>
            <a asp-action="Index" class="btn btn-orange float-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
                </svg> Voltar
            </a>
        </div>
    </div>
</div>

<hr class="orange-line" />

<div class="card mb-3 border-orange">
    <div class="card-body">
        <h5 class="card-title text-orange">Detalhes da Venda</h5>
        <dl class="row">
            <dt class="col-sm-2">Data da Venda</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.SaleDate)</dd>

            <dt class="col-sm-2">Quantidade</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Quantity)</dd>

            <dt class="col-sm-2">Valor Unitário</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.UnitaryValue)</dd>

            <dt class="col-sm-2">Valor Total</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Amount)</dd>

            <dt class="col-sm-2">ID do Produto</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ProductID)</dd>

            <dt class="col-sm-2">ID do Funcionário</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EmployeeID)</dd>

            <dt class="col-sm-2">ID do Cliente</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.ClientID)</dd>
        </dl>
    </div>
</div>

<div class="mb-3">
    <a asp-action="Edit" asp-route-id="@Model?.SaleID" class="btn btn-primary btn-orange">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        </svg> Editar
    </a>
    <a asp-action="Delete" asp-route-id="@Model?.SaleID" class="btn btn-primary btn-orange">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
        </svg> Excluir
    </a>
</div>

<style>
    .form-control:focus {
        border-color: orange;
        box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
    }

    hr.orange-line {
        border-top: 2px solid orange !important;
    }

    .text-orange {
        color: orange !important;
    }

    .btn-orange {
        color: orange;
        border-color: orange;
        background-color: transparent;
    }

        .btn-orange:hover {
            background-color: orange;
            color: white;
        }

    .btn-primary.btn-orange:focus,
    .btn-primary.btn-orange.focus {
        border-color: orange;
        box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
    }

    .btn-primary.btn-orange:hover {
        background-color: orange;
        border-color: orange;
    }

        .btn-primary.btn-orange:hover svg path {
            fill: white;
        }

    .border-orange {
        border-color: orange !important;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
